.reviews-main-container {
  /* background: #000 url("/public/assets/img/bg.jpg") no-repeat center
    center/cover; */
  width: 100vw;
}
.reviews-main-grid {
  border: 1px solid black;
  max-width: 80%;
  margin: auto;
  padding: 5vh 20px;
  position: relative;
}
@media (max-width: 821px) {
  .reviews-main-grid {
    max-width: 100%;
    border: none;
  }
}
