.review-card {
  cursor: pointer;
  background-color: transparent;
  height: 60vh;
  /* color: #fff; */
  border: 1px solid rgb(223, 210, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.review-card-inner {
  /* position: relative;
  width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* transition: transform 0.8s;
  transform-style: preserve-3d; */
}
.review-card-front {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.review-card-front h1 {
  font-size: 2vh;
  border-bottom: 1px #333 solid;
  padding-bottom: 1.2vh;

  margin-top: 1.2vh;
  /* padding: 1.2vh; */
  text-align: center;
  /* height: 10vh; */
}
.review-card-front h3 {
  font-size: 1.6vh;
  line-height: 1.6;
  padding-bottom: 1.2vh;
  padding: 3vh 1vw;
  height: 40vh;
}
.review-card-user {
  color: #333;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #333 solid;
  padding-top: 1.2vh;
}
.review-card-user h3 {
  font-size: 1.5vh;
}

.review-card img {
  width: 50%;
  height: 30vh;
  object-fit: cover;
}

.review-card-back {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  padding-left: 0.5vw;
  padding: 2vw;
  transform: rotateY(180deg);
}

/* .review-card-front,
.review-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
/* .review-card:hover .review-card-inner {
  transform: rotateY(180deg);
} */

@media (max-width: 821px) {
  .review-card {
    height: 70vh;
  }
  .review-card img {
    width: 100%;
    object-fit: cover;
  }
  .review-card-front,
  .review-card-back {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .review-card-user {
    width: 100%;
  }
  .review-card-back {
    padding: 5vw;
  }
}
/* @media (max-width: 500px) {
  .media-card img {
    width: 100%;
    object-fit: contain;
  }
} */
